[package]
name = "rabbitmq-stream-protocol"
version = "0.1.0"
authors = ["wolf4ood <enrico.risa@gmail.com>", "korsmakolnikov <korsmakolnikov@gmail.com>"]
edition = "2018"


[dependencies]
byteorder = "1"
ntex-amqp-codec = "0.7.2"
tracing = "0.1"


[dev-dependencies]
fake = { version = "2.4", features=['derive']}
rand = "0.8"
